* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

:root {
    --cor-primaria: #4f46e5;
    --cor-secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0f172a;
    --claro: #e2e7ed;
    --vidro: rgba(255, 255, 255, 0.1);

}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.736), rgba(0, 0, 0, 0.537)), url('img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: var(--claro);
}

a:visited {
    color: var(--claro);
}

.navegacao {
    position: fixed;
    background: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.menu-link {

    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: "";
    height: 2px;
    width: 0;
    background: var(--cor-primaria);
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--cor-primaria), var(--cor-secundaria));
    transition: 0.3s ease-in-out;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 2.5rem;
    color: var(--claro);
    font-weight: bold;
    margin: 20px 0;

}

.paragrafo-cabecalho {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 0px var(--cor-primaria);

}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blut(10px);
    background: rgba(255, 255, 255, 0.07);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 1px 1px 0px #000;
}

.section {
    padding: 6rem 2rem;
    min-height: 100vh;
}

.baixar-cv {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    align-items: center;

}

.botao-cv {
    padding: 1rem 2rem;
    background: var(--cor-secundaria);
    border-radius: 10px;
    font-weight: bold;
    color: var(--claro);
    border: 2px solid var(--cor-secundaria);
    transition: all 0.1s ease-in-out;
}

.botao-cv:active {
    background: white;
    border-color: lighten(var(--cor-primaria), 10%);
    color: var(--cor-primaria);
}

.titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem;
    margin-bottom: 30px;
}

.info-projetos {
    margin-bottom: 20px;
}

.caixa-textos-projetos {
    padding: 1.5rem;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}

.grupo-form {
    margin-bottom: 1.5rem;
}

.campo-form {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--vidro);
    background: rgba(255, 255, 255, 0.07);
    border-radius: 8px;
    color: var(--claro);
    outline: none;
}

.campo-form:focus {
    border-color: var(--cor-secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
    color: var(--claro);
    background: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.techs {
    display: flex;
    justify-content: space-around;

}

.tecnologia {
    font-size: 12px;
    text-align: center;
    text-shadow: 1px 1px 0px #000;
}

.icon {
    width: auto;
    height: 35px;
    margin-top: 20px;
}

.inverter-cor {
    filter: invert(100%);
}

.servicos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.servicos-card {
    padding: 2rem;
    max-width: 800px;
    color: white;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blut(10px);
    background: rgba(255, 255, 255, 0.07);
}

.servicos-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 0px #000;
}

.servicos-descricao {
    text-shadow: 1px 1px 0px #000;
}

.deploy {
    display: flex;
    justify-content: end;

}

.deploy-btn {
    position: fixed;
    bottom: 0;
    width: 60px;
    height: 30px;
    color: var(--claro);
    font-size: 12px;
    background: var(--escuro);

    text-align: center;
    align-content: center;
    border: 1px solid var(--escuro);
    border-radius: 8px;
    margin: 20px;
}

.deploy-btn:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
}

.spacing-menu{
    height: 50px;
}

.contato-caixa{
    display: flex;
    width: 100%;
    margin-top: 70px;
    justify-content: space-around;
}

.contato-imagem{
    width: 40px;
    height: 40px;
}
.contato-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--claro);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }

}

/* Media Queries para telas menores que 768px (tablets e dispositivos móveis) */
@media (max-width: 768px) {
    .menu {
        gap: 1.5rem;
        /* Reduz o espaçamento entre os itens do menu */
    }

    .foto-perfil {
        width: 250px;
        /* Reduz o tamanho da foto de perfil */
        height: 250px;
    }

    h1 {
        font-size: 2rem;
        /* Reduz o tamanho do título principal */
    }

    .paragrafo-cabecalho {
        font-size: 1rem;
        /* Reduz o tamanho do parágrafo do cabeçalho */
    }

    .sobre-caixa {
        padding: 1rem;
        /* Reduz o padding da caixa de "Sobre" */
    }

    .sobre-paragrafo {
        font-size: 1rem;
        /* Reduz o tamanho do parágrafo da seção "Sobre" */
    }

    .projetos-caixa {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* Ajusta o grid de projetos */
    }

    .servicos-caixa {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /* Ajusta o grid de serviços */
    }

    .formulario-contato {
        padding: 1rem;
        /* Reduz o padding do formulário de contato */
    }

    .techs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        align-items: center;
    }

    .deploy-btn {
        width: 50px;
        /* Reduz o tamanho do botão de deploy */
        height: 25px;
        font-size: 10px;
    }
}

/* Media Queries para telas menores que 480px (dispositivos móveis pequenos) */
@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        /* Altera o menu para uma coluna */
        gap: 1rem;
    }
    .spacing-menu{
        height: 0;
    }

    .foto-perfil {
        width: 200px;
        /* Reduz ainda mais o tamanho da foto de perfil */
        height: 200px;
    }

    h1 {
        font-size: 1.5rem;
        /* Reduz o tamanho do título principal */
    }

    .paragrafo-cabecalho {
        font-size: 0.9rem;
        /* Reduz o tamanho do parágrafo do cabeçalho */
    }

    .sobre-paragrafo {
        font-size: 0.9rem;
        /* Reduz o tamanho do parágrafo da seção "Sobre" */
    }

    .titulo{
        font-size: 1.5rem;
    }
    .projetos-caixa {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* Ajusta o grid de projetos */
    }
    .projetos-card{
        height: min-content;
    }
    .projetos-imagem{
        height: 150px;
    }

    .servicos-caixa {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* Ajusta o grid de serviços */
    }

    .formulario-contato {
        padding: 0.5rem;
        /* Reduz o padding do formulário de contato */
    }

    .botao-form {
        padding: 0.8rem 1.5rem;
        /* Reduz o padding do botão do formulário */
    }

    .deploy-btn {
        width: 60px;
        height: 30px;
        font-size: 8px;
    }

    .servicos-titulo {
        font-size: 1.2rem;
        /* Reduz o tamanho do título dos serviços */
    }

    .servicos-descricao {
        font-size: 0.9rem;
        /* Reduz o tamanho da descrição dos serviços */
    }

    /* Estilo do ícone de três barras */
    .menu-icon {
        display: none;
        /* Oculta o ícone por padrão */
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 1001;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
    }

    .menu-icon .bar {
        width: 100%;
        height: 3px;
        background-color: var(--claro);
        transition: 0.3s ease-in-out;
    }

    .menu {
        display: none;
        /* Oculta o menu */
        flex-direction: column;
        /* Alinha os itens em coluna */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(15, 23, 42, 0.95);
        /* Fundo escuro com transparência */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navegacao {
        position: fixed;
        background: rgba(15, 23, 42, 0);
        width: 100%;
        z-index: 100;
        padding: 1.5rem;
    }

    .menu.active {
        display: flex;
        
        /* Mostra o menu quando a classe 'active' é adicionada */
    }

    .menu-icon {
        display: flex;
    }

    .menu-link {
        font-size: 1.5rem;
        /* Aumenta o tamanho dos links para melhor legibilidade */
        margin: 1rem 0;
    }

    .baixar-cv {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        align-items: center;
    
    }
    
    .botao-cv {
        padding: 0.5rem 1rem;
        font-size: 12px;

        background: var(--cor-secundaria);
        border-radius: 8px;
        font-weight: bold;
        color: var(--claro);
        border: 2px solid var(--cor-secundaria);
        transition: all 0.1s ease-in-out;
    }
    .contato-imagem{
        width: 30px;
        height: 30px;
    }
    .contato-icon{
        width: 40px;
        height: 40px;
    }
}